[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "==2.27.1"
semver = "==2.13.0"
pathlib2 = {markers = "python_version < '3.10'", version = "*"}
datetime = "==4.3"
uuid = "==1.30"
typing = "==3.7.4"
